/AAA/
/.mixin.out/
/.vscode/
/backups/
/crash-reports/
/ESM/
/datapacks/
/downloads/
/fancymenu_data/
/local/
/logs/
/mods/
/patchouli_books/
/saves/
/screenshots/
/skyblockbuilder/
/.curseclient
/command_history.txt
/LICENSE
/minecraftinstance.json
/options.txt
/patchouli_data.json
/TODU.md
/.markdownlint.json
/usercache.json
/usernamecache.json
/config/*
!/config/jade/
!/config/bbl/
!/config/skyblockbuilder/
!/config/defaultworldtype/
!/config/healthbars-client.toml
!/config/stardew_fishing-server.toml
!/config/simplelootviewer.json

.probe
